
// // BASIC COLORS ==============================================
// //============================================================/
$white: #FFFFFF;
$black: #424242;
$blue: #5CC0E5;
$rose: #FA9ABA;
$gray: #A6A6A6;

// // SPECIAL COLORS ============================================
// //============================================================/
$blue-light: #EFF9FD;
$rose-light: #FFF8FA;
$gray-light: #F9F9F9;

$blue-line: #C9E2EB;
$rose-line: #F2E1E7;
$gray-line: #E8E8E8;

$rose-hover : #F483A9;

// // GRADIENTS =================================================
// //============================================================/
$gradient: linear-gradient(180deg, #58C0E7 0%, #FA9ABA 100%);
$gradient-special: linear-gradient(270deg, rgba(88, 192, 231, 0.3) 0%, rgba(196, 196, 196, 0.2) 100%);

// // BASIC FONTS ===============================================
// //============================================================/
$font-family: "Montserrat";
$font-light: 300;
$font-regular: normal;
$font-medium: 500;
$font-semibold: 600;
$font-bold: bold;

// // SPECIAL TOOLS =============================================
// //============================================================/
$basic-transition: ease-in-out 0.3s;