.list {

    $parent: &;

    margin: 0; //reset ul
    padding: 0; //reset ul

    display: inline-block;
    padding: 6rem;
    border-radius: 8px;
    background-color: $white;
    box-shadow: 0px 9px 24px rgba($black, 0.1);
    text-align: left;

    &__item {
        position: relative;
        padding-left: 1.9em;
        font-size: 1.8rem;
        font-weight: $font-medium;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 1.2em;
            height: 1.2em;

            background-repeat: no-repeat;
            background-position: center;
            background-image: url("data:image/svg+xml,%3Csvg width='22' height='22' viewBox='0 0 22 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M11 22C4.92487 22 0 17.0751 0 11C0 4.92487 4.92487 0 11 0C17.0751 0 22 4.92487 22 11C22 17.0751 17.0751 22 11 22ZM11 20C15.9706 20 20 15.9706 20 11C20 6.02944 15.9706 2 11 2C6.02944 2 2 6.02944 2 11C2 15.9706 6.02944 20 11 20ZM14.2929 7.29285L9.00001 12.5857L6.70712 10.2928L5.29291 11.7071L9.00001 15.4142L15.7071 8.70706L14.2929 7.29285Z' fill='%235CC0E5'/%3E%3C/svg%3E%0A");
            background-size: contain;
        }
    }

    &--ckecked {

        padding: 0;
        box-shadow: none;

        #{$parent}__item {

            padding-left: 1.7em;
            font-size: 1.6rem;

            &::before {
                top: 2px;
                width: 1em;
                height: 1em;

                background-image: url("data:image/svg+xml,%3Csvg width='16' height='12' viewBox='0 0 16 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M5.56309 9.19988L14.6215 0L16 1.40006L5.56309 12L0 6.35001L1.37853 4.94996L5.56309 9.19988Z' fill='%235CC0E5'/%3E%3C/svg%3E%0A");
            }
        }

        #{$parent}__item + #{$parent}__item {
            margin-top: 1.8rem;
        }
    }

    &__item + &__item {
        margin-top: 2.7rem;
    }

    &__item-description {
        font-size: 1.4rem;
        font-weight: $font-light;
        line-height: 130%;
        color: $black;
    }
}


@media only screen and (max-width: 780px) {

    .list:not(.list.list--checked) {
        width: 100%;
        padding: 4rem;
    }
}

@media only screen and (max-width: 480px) {

    .list:not(.list.list--checked) {
        padding: 2.8rem;
    }

    .list__item {
        font-size: 1.7rem;
    }
}

@media only screen and (max-width: 375px) {

    .list:not(.list.list--checked) {
        padding: 2rem;
    }

    .list__item {
        padding-left: 1.8em;
        font-size: 1.5rem;
    }

    .list__item::before {
        top: 1px;
    }

    .list__item-description {
        font-size: 1.3rem;
    }

    .list__item+.list__item {
        margin-top: 1.4rem;
    }
}