<footer class="footer">
    <div class="container">
        <div class="footer__nav">
            <div class="column">
                <a class="logo" href="">
                    <img class="logo__image" src="assets/images/svg/logo.svg" alt="">
                </a>
            </div>
            <div class="column">
                <ul class="footer__links">
                    <li class="footer__links-item"><a href="./about.html" class="footer__link">О нашем центре</a></li>
                    <li class="footer__links-item"><a href="./programm.html" class="footer__link">Программа сур. материнства</a></li>
                    <li class="footer__links-item"><a href="./laws.html" class="footer__link">Законы</a></li>
                    <li class="footer__links-item"><a href="./documents.html" class="footer__link">Документация</a></li>
                </ul>
            </div>
            <div class="column">
                <ul class="footer__links">
                    <li class="footer__links-item"><a href="./post-list.html" class="footer__link">Полезное</a></li>
                    <li class="footer__links-item"><a href="./feedback-list.html" class="footer__link">Отзывы</a></li>
                    <li class="footer__links-item"><a href="./faq.html" class="footer__link">Вопросы - Ответы</a></li>
                    <li class="footer__links-item"><a href="./contacts.html" class="footer__link">Контакты</a></li>
                </ul>
            </div>
            <div class="column">
                <a href="#modal-callback" class="btn-contact btn-contact--right-align js-modal-open">
                    <span class="btn-contact__icon">
                        <svg class="icon">
                            <use href="assets/images/svg/sprite.svg#icon-telephone"></use>
                        </svg>
                    </span>
                    <div class="btn-contact__title">+7 (495) 22-106-88</div>
                    <p class="btn-contact__text">Заказать звонок</p>
                </a>
            </div>
        </div>
        <div class="footer__adress">
            <div class="adress">
                <svg class="adress__icon">
                    <use href="assets/images/svg/sprite.svg#icon-pin"></use>
                </svg>
                <div class="adress__title">Клиника Хамовники:</div>
                <p class="adress__text">Москва, ул. Усачева, д. 33, стр. 4</p>
            </div>
            <div class="adress">
                <svg class="adress__icon">
                    <use href="assets/images/svg/sprite.svg#icon-pin"></use>
                </svg>
                <div class="adress__title">Клиника Юго-Западная:</div>
                <p class="adress__text">Москва, ул. Лобачевского, д. 20</p>
            </div>
            <div class="license">
                <p class="text">Политика конфиденциальности Лицензия: № ЛО-77-01-015035</p>
            </div>
        </div>
    </div>
    <div class="footer__bottom">
        <div class="container">
            <div class="footer__credits">
                <p class="text">Информация, размещенная на сайте, не является публичной офертой.</p>
                <p class="text">© ООО "МедИнСервис" Все права защищены</p>
            </div>
        </div>
    </div>
</footer>