<header class="header">
    <div class="container">
        <div class="header__top-panel">
            <a class="logo" href="./index.html">
                <img class="logo__image" src="assets/images/svg/logo.svg" alt="">
            </a>
            <p class="header__tagline">Лидер в сфере суррогатного материнства на территории РФ</p>
            <div class="header__contact">
                <a class="btn-contact btn-contact--right-align" href="https://wa.me/74952210688" target="_blank">
                    <span class="btn-contact__icon">
                        <svg class="icon">
                            <use href="assets/images/svg/sprite.svg#icon-whatsapp"></use>
                        </svg>
                    </span>
                    <div class="btn-contact__title">WhatsApp</div>
                    <p class="btn-contact__text">Бесплатная консультация</p>
                </a>
                <a class="btn-contact btn-contact--right-align" href="./anketa.html">
                    <span class="btn-contact__icon">
                        <svg class="icon">
                            <use href="assets/images/svg/sprite.svg#icon-anketa"></use>
                        </svg>
                    </span>
                    <div class="btn-contact__title">Заполнить анкету</div>
                    <p class="btn-contact__text">Суррогатным мамам</p>
                </a>
                <a href="#modal-callback" class="btn-contact btn-contact--right-align js-modal-open" data-content="form">
                    <span class="btn-contact__icon">
                        <svg class="icon">
                            <use href="assets/images/svg/sprite.svg#icon-telephone"></use>
                        </svg>
                    </span>
                    <div class="btn-contact__title">+7 (495) 22-106-88</div>
                    <p class="btn-contact__text">Заказать звонок</p>
                </a>
            </div>
            <div class="header__menu-button js-menu-button">
                <div class="header__menu-button__burger">
                    <span class="bars"></span>
                </div>
            </div>
        </div>
    </div>
    <nav class="header__nav js-menu-mobile">
        <div class="container">
            <ul class="menu">
                <li class="menu__item"><a class="menu__item-link" href="./about.html">О нашем центре</a></li>
                <li class="menu__item"><a class="menu__item-link" href="./programm.html">Программа сур. материнства</a></li>
                <li class="menu__item"><a class="menu__item-link" href="./laws.html">Законы</a></li>
                <li class="menu__item"><a class="menu__item-link" href="./specialist.html">Наши специалисты</a></li>
                <!-- <li class="menu__item"><a class="menu__item-link" href="./documents.html">Документация</a></li> -->
                <li class="menu__item"><a class="menu__item-link" href="./post-list.html">Полезное</a></li>
                <li class="menu__item"><a class="menu__item-link" href="./feedback-list.html">Отзывы</a></li>
                <li class="menu__item"><a class="menu__item-link" href="./faq.html">Вопросы - Ответы</a></li>
                <li class="menu__item"><a class="menu__item-link" href="./contacts.html">Контакты</a></li>
            </ul>
        </div>
    </nav>
</header>