<div id="modal-callback" class="modal js-modal">
    <div class="modal__container js-modal-container">
        <div class="modal__form">
            <form class="form">
                <div class="modal__title">Заказать звонок</div>
                <p class="text">Оставьте свои контактные данные и наши специалисты вам перезвонят.</p>
                <p class="form__item">
                    <input class="form__input" name="Имя" type="text" placeholder="Укажите полное имя">
                </p>
                <p class="form__item">
                    <input class="form__input" name="Телефон" type="text" placeholder="+7 (XXX) XXX-XX-XX">
                </p>
                <p class="form__item">
                    <label class="check option">
                        <input class="check__input" type="checkbox" checked>
                        <span class="check__box"></span>
                        Я даю согласие на обработку моих персональных данных в соответствии с условиями
                        «Политики конфиденциальности» и «Соглашения о обработке персональных данных»
                    </label>
                </p>
                <p class="form__item">
                    <input class="btn" type="submit" value="Отправить">
                </p>
            </form>
        </div>
        <div class="modal__close js-modal-close">
            <svg class="icon">
                <use href="assets/images/svg/sprite.svg#icon-close"></use>
            </svg>
        </div>
    </div>
</div>

<div id="modal-video" class="modal js-modal">
    <div class="modal__container js-modal-container">
        <!-- append child from modal.js -->
        <div class="modal__close js-modal-close">
            <svg class="icon">
                <use href="assets/images/svg/sprite.svg#icon-close"></use>
            </svg>
        </div>
    </div>
</div>

<div id="modal-map" class="modal js-modal">
    <div class="modal__container js-modal-container">
        <!-- append child from modal.js -->
        <div class="modal__close js-modal-close">
            <svg class="icon">
                <use href="assets/images/svg/sprite.svg#icon-close"></use>
            </svg>
        </div>
    </div>
</div>