<div id="modal-callback" class="modal js-modal">
    <div class="modal__container js-modal-container">
        <div class="modal__form">
            <form class="form">
                <div class="modal__title">Заказать звонок</div>
                <p class="text">Оставьте свои контактные данные и наши специалисты вам перезвонят.</p>
                <p class="form__item">
                    <input class="form__input" name="Имя" type="text" placeholder="Укажите полное имя">
                </p>
                <p class="form__item">
                    <input class="form__input" name="Телефон" type="text" placeholder="+7 (XXX) XXX-XX-XX">
                </p>
                <p class="form__item">
                    <label class="check option">
                        <input class="check__input" type="checkbox" checked>
                        <span class="check__box"></span>
                        Я даю согласие на обработку моих персональных данных в соответствии с условиями
                        «Политики конфиденциальности» и «Соглашения о обработке персональных данных»
                    </label>
                </p>
                <p class="form__item">
                    <input class="btn" type="submit" value="Отправить">
                </p>
            </form>
        </div>
        <div class="modal__close js-modal-close">
            <svg class="icon">
                <use href="assets/images/svg/sprite.svg#icon-close"></use>
            </svg>
        </div>
    </div>
</div>

<div id="modal-video" class="modal js-modal">
    <div class="modal__container js-modal-container">
        <!-- append child from modal.js -->
        <div class="modal__close js-modal-close">
            <svg class="icon">
                <use href="assets/images/svg/sprite.svg#icon-close"></use>
            </svg>
        </div>
    </div>
</div>

<div id="modal-map" class="modal js-modal">
    <div class="modal__container js-modal-container">
        <!-- append child from modal.js -->
        <div class="modal__close js-modal-close">
            <svg class="icon">
                <use href="assets/images/svg/sprite.svg#icon-close"></use>
            </svg>
        </div>
    </div>
</div>

<div id="modal-kurator" class="modal js-modal">
    <div class="modal__container js-modal-container">
        <div class="modal__kurator">
            <div class="title-description">Кто такие кураторы</div>
            <p class="text">Lorem Ipsum не только успешно пережил без заметных изменений пять веков, но и перешагнул в электронный дизайн. Его популяризации в новое время послужили публикация листов Letraset с образцами Lorem Ipsum в 60-х годах.</p>
            <div class="title-description">Для чего они вам</div>
            <p class="text">Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.</p>
        </div>
        <div class="modal__close js-modal-close">
            <svg class="icon">
                <use href="assets/images/svg/sprite.svg#icon-close"></use>
            </svg>
        </div>
    </div>
</div>

<div id="modal-specialist" class="modal js-modal">
    <div class="modal__container js-modal-container">


        <div class="modal__specialist">

            <!-- this content append from db -->
            <!-- ==================================================================================== -->
            <div class="column--specialist__head">
                <div class="column--specialist__photo">
                    <img src="assets/images/specialist/img-specialist-photo-03.jpg" alt="">
                </div>
                <div class="column--specialist__info">
                    <div class="column--specialist__name">Данчеева Маргарита Станиславовна</div>
                    <p class="column--specialist__skill">Куратор / Гинеколог-окушер</p>
                    <p class="column--specialist__experience">15 лет опыта</p>
                </div>
            </div>
            <div class="specialist-content">
                <div class="title-description">Образование</div>
                <div class="text">ММА им.Сеченова, по специальности лечебное дело. Специализация педиатрия. Ординатура  по педиатрии на кафедре постдипломонго обазования на базе ДКГБ 9 им. Г.Н. Сперанского.</div>
                <div class="title-description">Повышение квалификации</div>
                <div class="text">Повышение квалификации по специальности иммунология-аллергология.</div>
                <div class="title-description">Опыт работы</div>
                <div class="text">2005-2010 – детская городская больница им.Сперанского, врач иммунолог-аллерголог. 2011-2019 – медицинский директор сети центров репродукции Нова Клиник. 2019 по настоящее время – заместитель генерального директора сети центров репродукции Нова Клиник.</div>
            </div>
            <!-- ==================================================================================== -->

        </div>
        <div class="modal__close js-modal-close">
            <svg class="icon">
                <use href="assets/images/svg/sprite.svg#icon-close"></use>
            </svg>
        </div>
    </div>
</div>